/* font */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* colours */
:root {
    --cherry-blossom: #edafb8ff;
    --powder-petal: #f7e1d7ff;
    --dust-grey: #dedbd2ff;
    --ash-grey: #b0c4b1ff;
    --iron-grey: #4a5759ff;
}

body {
    background-color: var(--ash-grey);
    font-family: "EB Garamond", serif;
    color: var(--iron-grey);

}

.container {
    width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

/* header */
header {
    grid-area: header;
}

header h1 {
    text-align: center;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;

}

header nav {
    text-align: center;
    font-size: 1.2rem;
}

header a {
    padding: 10px;
    text-decoration: none;
    color: var(--iron-grey);
    background-color: var(--dust-grey);
    border-radius: 10px;
}

header a:hover {
    background-color: var(--cherry-blossom);
    padding: 7px;
}

header a.on {
    background-color: var(--cherry-blossom);
}

/* main for intro page*/
main {
    background-color: var(--dust-grey);
    grid-area: main;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* main page for both animal pages */
main h2 {
    font-size: 1.5rem;
    text-decoration: wavy underline;
    text-align: center;
}

main p {
    font-size: 1.2rem;
}

/* For the animal pages aka page 1 and 2 */
main .animal {
    /* This will cover pages 2-4 */
    display: flex;
}

main .animal figure {
    size: 70%;
}

main .animal img {
    border-radius: 10px;
}

/* for the quiz aka page 4 */
main button {
    margin-left: 10px;
    padding: 5px;
    height: 2rem;
    margin-top: 15px;
    background-color: var(--powder-petal);
    border-radius: 5px;
    border: var(--iron-grey) solid 2px;
}

main button:hover {
    background: var(--cherry-blossom);
}

main .amount {
    width: 3rem;
    background-color: var(--ash-grey);
    border: 2px solid var(--iron-grey);
    text-align: right;
    font-size: 1.5rem;
    padding: 2px;
    border-radius: 2px;
}

/* aside */
/* umm will have to move due to multiple reasonons */
aside {
    grid-area: aside;
    background-color: var(--dust-grey);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

aside p.aside a {
    text-decoration: none;
    color: var(--iron-grey);
}

/* footer */
footer {
    background-color: var(--dust-grey);
    grid-area: footer;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

footer .name {
    text-align: center;
    font-size: 1.2rem;
}

/* Mobil */
@media (max-width: 480px) {
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";

        main .animal {
            /* This will cover pages 2-4 for phones*/
            display: none;
        }
    }
}

@media (max-width: 750px) {
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

}